@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
	background:#eee;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

li, a{
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

header{
	justify-content: space-between;
	align-items: center;
	padding: 0px 5%;
	background: #092b84;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display:inline-block;
	padding: 10px 10px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;;
}

.nav_links li a:hover{
	background: #22aa91;
	padding: 10px; 
}

.pic{
	width: 100%;
	padding: 0;
	
}